body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins';
}

.navbar-block{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(to right,#400257,#bc50e3);
}
.main-logo{
  width: 60px;
}
.main-heading{
  font-weight: bold;
  font-size: 24px;
  color: white;
  padding-left: 10px;
}


.main-block{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.input-1,.input-2{
  width: 400px;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  font-family: "Poppins";
  text-indent: 10px;
  border-color: rgb(152, 151, 151);
}
.generate-button{
  display: block;
  margin: 10px;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Poppins";
  background: linear-gradient(90.41deg, #711F8D 1.14%,#A818DA);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.meme {
  position: relative;
}

.meme-image{
  max-width: 100%;
}
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}
.bottom {
  bottom: 0;
}

.top {
  top: 0;
}